@{
    ViewData["Title"] = "Home Page";
}
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<body>
    <div align="center" class="menu-header">
        <img class="menu-logo" src="/css/WMS.logo.jpg" alt="WMS Logo" />
        <h1>
            <span>WMS Inventory Tracker</span>
        </h1>

    </div>
    <br />
    <div align="left" class="menu">
        <div align="center">
            <h1>
                <span>Main Menu</span>
            </h1>
        </div>
        <br />
        <ul>
            <li id="acctId">
            </li>
            <li id="storage">
            </li>
            <li id="containers">
            </li>
            <li id="content">
                <a href='@Url.Action("Index", "Contents")'>Content</a>
            </li> 
        </ul>
            <div id="qr-reader" style="width: 300px"></div>

            <script>
                const LOCAL_STORAGE_KEY = "WMS_AccountId";

                var acctId = "@TempData["AccountId"]";

                if (acctId != "") {

                    localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(acctId));
                }
                else {
                    acctId = localStorage.getItem(LOCAL_STORAGE_KEY);
                }

                setupAccountLink();

                setupStorageLocationsLink();

                setupContainersLink();

                function setupAccountLink() {

                    var newAcctId = acctId.replace(/"/g, '');

                    var tmp = "/Accounts/Details/" + newAcctId;

                    console.log("tmp is", tmp);

                    const node = document.createElement("a")
                    const aTag = document.getElementById("acctId").appendChild(node)

                    aTag.innerHTML = "Account";

                    aTag.setAttribute("id", "Account");
                    aTag.setAttribute("href", tmp);
                    aTag.setAttribute("style", "color: white; cursor: pointer");
                    aTag.setAttribute("display", "block");

                    console.log("newAcctId is", newAcctId);
                    console.log("aTag is", aTag);

                    return;
                }

                function setupStorageLocationsLink() {

                    var newAcctId = acctId.replace(/"/g, '');

                    var tmp = "/StorageLocation/Account/" + newAcctId;

                    console.log("tmp is", tmp);

                    const node = document.createElement("a")
                    const aTag = document.getElementById("storage").appendChild(node)

                    aTag.innerHTML = "Storage Locations";

                    aTag.setAttribute("id", "StorageLocations");
                    aTag.setAttribute("href", tmp);
                    aTag.setAttribute("style", "color: white; cursor: pointer");
                    aTag.setAttribute("display", "block");

                    console.log("newAcctId is", newAcctId);
                    console.log("aTag is", aTag);

                    return;
                }

                function setupContainersLink() {

                    var newAcctId = acctId.replace(/"/g, '');

                    var tmp = "/Container/Account/" + newAcctId;

                    console.log("tmp is", tmp);

                    const node = document.createElement("a")
                    const aTag = document.getElementById("containers").appendChild(node)

                    aTag.innerHTML = "Containers";

                    aTag.setAttribute("id", "Containers");
                    aTag.setAttribute("href", tmp);
                    aTag.setAttribute("style", "color: white; cursor: pointer");
                    aTag.setAttribute("display", "block");

                    console.log("newAcctId is", newAcctId);
                    console.log("aTag is", aTag);

                    return;
                }
            </script>
        
        <br />
        <br />
        <br />
    </div>

</body>
